<div class="conatianer">

    <div class="col-md-1">

    </div>
    <div class="col-xs-11 col-sm-11 col-md-11 col-lg-11 f">
        <div id="d1" class="pd">

            <div>
                <img class="image" src="assets\image\LOGO-new-site.png" alt="" />
            </div>
            <br>



            <div class="topnav" id="myTopnav">
                <a class="active" class="nav-link" href="/Home"><i class="fa fa-fw fa-home"></i></a>
                <a class="nav-link" href="/Menu">MENU</a>
                <a href="#">BECOME OUR FRANCHISE</a>
                <a href="#">STORE LOCATOR</a>
                <a href="#">NEW STORE LOCATOR</a>
                <a href="#">MONGILAND</a>

            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">

        <div class="col-md-12" class="shadow-lg p-3 mb-5  rounded">
            <img src="assets\image\Web-Banner.jpg" alt="Nature" class="responsive">
        </div>

    </div>

</div>


<div class="conatainer" style="background-color: rgb(243, 243, 243);">


    <div class="container" class="section3">

        <div class="row">
            <div class=" col-md-4 ">
                <img src="assets\image\360X292-AboutUs.jpg" alt="Avatar" class="images" style="width:100%">
                <div class="middle">
                    <div class="text1">
                        <h3><a title="Media Room Monginis" href="../about-us" target="_blank"><span class="value">Know More About Us</span></a></h3>
                        <h4><span class="value">See More&nbsp;</span></h4>
                    </div>
                </div>
            </div>
            <div class=" col-md-4 ">
                <img src="assets\image\360X292-CAKES_2.jpg" alt="Avatar" class="images" style="width:100%">
                <div class="middle">
                    <div class="text2">
                        <h3><a title="Cakes &amp; Pastries" href="../monginis-menu/cakes.html" target="_blank"><span class="value">Designer Cakes &amp; Many More</span></a></h3>
                        <h4><span class="value">See More&nbsp;</span></h4>
                    </div>
                </div>
            </div>
            <div class=" col-md-4 ">
                <img src="assets\image\360X292-PP_2.jpg" alt="Avatar" class="images" style="width:100%">
                <div class="middle">
                    <div class="text3">
                        <h3><a title="Media Room Monginis" href="../about-us" target="_blank"><span class="value">Packaged & Product</span></a></h3>
                        <h4><span class="value">See More&nbsp;</span></h4>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="container" class="section3">

        <div class="row">
            <div class="col-md-4 ">
                <img src="assets\image\360X292-FC_2.jpg" alt="Avatar" class="images" style="width:100%">
                <div class="middle">
                    <div class="text4">
                        <h3><a title="Media Room Monginis" href="../about-us" target="_blank"><span class="value">Our Factory presence in India &amp; their owners</span></a></h3>
                        <h4><span class="value">See More&nbsp;</span></h4>
                    </div>
                </div>
            </div>
            <div class=" col-md-4 ">
                <img src="assets\image\360X292-Media_4.jpg" alt="Avatar" class="images" style="width:100%">
                <div class="middle">
                    <div class="text5">
                        <h3><a title="Cakes &amp; Pastries" href="../monginis-menu/cakes.html" target="_blank"><span class="value">Get updates of Monginis on Online &amp; Offline front</span></a></h3>
                        <h4><span class="value">See More&nbsp;</span></h4>
                    </div>
                </div>
            </div>
            <div class="col-md-4  ">
                <img src="assets\image\360X292-SL_2.jpg" alt="Avatar" class="images" style="width:100%" height="400px">
                <div class="middle">
                    <div class="text6">
                        <h3><a title="Locate your nearest cake shop" href="../storelocator" target="_blank"><span class="value">Locate your nearest Monginis Cake Shop</span></a></h3>
                        <h4><span class="value">See More<br /></span></h4>
                    </div>
                </div>
            </div>
        </div>


    </div>


    <div class="container-fluid">

        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">

                <h2> MONGOLAND</h2>
                <img src="assets\image\Banner-2.jpg" alt="Avatar" style="width:100%">
            </div>
            <div class="col-md-1">
            </div>
        </div>
    </div>
    <div class="container-fluid">

        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">

                <div class="slides row">
                    <div class="slide col-lg-12  col-md-12  col-sm-12  col-xs-12  ">
                        <div class="banner-static">
                            <div class="banner col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <div class="content-home-item">
                                    <a title="Careers Monginis" href="../careers-at-monginis" target="_blank">
                                        <img title="Careers at Monginis" alt="Careers at Monginis" src="assets\image\career_3.jpg" height="80px" width="255px" /></a>
                                </div>
                            </div>
                            <div class="banner col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <div class="content-home-item">
                                    <a href="https://www.monginis.net/blog">
                                        <img title="Recipes &amp; Blogs Monginis" alt="Recipes &amp; Blogs" src="assets\image\blog-icon_2.jpg" height="80px" width="255px" /></a>
                                </div>
                            </div>
                            <div class="banner col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <div class="content-home-item">
                                    <a title="Coming Soon" href="http://182.74.69.150/TOOLS/MFPL_VendorRegistration.aspx">
                                        <img title="Become Vendor / Supplier at Monginis" alt="Become Vendor / Supplier at Monginis" src="assets\image\supplier.jpg" height="80px" width="255px" /></a>
                                </div>
                            </div>
                            <div class="banner col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                <div class="content-home-item">
                                    <a title="Monginis E-Brochure" href="../media/wysiwyg/Brochures/Monginis-Brochure.pdf" target="_blank">
                                        <img title="Download E Brochure" alt="Download E Brochure" src="assets\image\pdf_4.jpg" height="80px" width="255px" /></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-1">

            </div>

        </div>
    </div>



    <div class="container-fluid" style="padding-bottom: 50px;">

        <div class="row">
            <div class="col-md-1">
            </div>
            <div class="col-md-10">
                <div class="slider-block-wrapper flexslider" id="flexslider-da6554b41c054839be5376bae7e4371a">
                    <h2>Become A Partner </h2>
                    <div class="slides row">
                        <div class="slide col-lg-12  col-md-12  col-sm-12  col-xs-12  ">
                            <div class="banner-static">
                                <div class="banner col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                    <div class="content-home-item">
                                        <a title="Apply for Cake Shop Franchisee" href="../cake-shop-franchisee" target="_blank"> <img title="Apply for Cake Shop Franchisee " alt="Apply for Franchisee " src="\assets\image\shop.jpg" height="400" width="255" /></a>
                                    </div>
                                </div>
                                <div class="banner col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                    <div class="content-home-item">
                                        <a title="Apply for Manufacturing Franchisee" href="../manufacturing-franchisee" target="_blank">
                                            <img title="Apply for Manufacturing Franchisee at Monginis" alt="Apply for Manufacturing Franchisee at Monginis" src="assets\image\manufacturing.jpg" height="400px" width="255px" /></a>
                                    </div>
                                </div>
                                <div class="banner col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                    <div class="content-home-item">
                                        <a title="Apply for Distributor" href="../distributor" target="_blank">
                                            <img title="Apply for Distributor | Monginis" alt="Apply for Distributor | Monginis" src="assets\image\distributor.jpg" height="400" width="255" /></a>
                                    </div>
                                </div>
                                <div class="banner col-lg-3 col-md-3 col-sm-3 col-xs-12">
                                    <div class="content-home-item">
                                        <a title="Apply for Super Stockiest" href="../super-stockiest" target="_blank"> <img title="Apply for Super Stockiest " alt="Apply for Super Stockiest " src="https://www.monginis.net/media/wysiwyg/blocks/stockiest.jpg" height="400" width="255" /></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-1">

            </div>

        </div>
    </div>

</div>

<div class="container-fluid" class="contact">

    <div class="row">
        <div class=col-md-1>

        </div>
        <div class="col-md-6">
            <h2>Contct With US</h2>
            <div class="icon">
                <p>
                    <a href="#"> <i class="fa fas fa-phone-alt"></i></a>
                </p>
                <p>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                </p>
                <p> <i class="fab fa-google-plus-g"></i></p>
                <p> <i class="fab fa-twitter-square"></i></p>
                <p><i class="fab fa-youtube"></i></p>
                <p>
                    <i class="fab fa-instagram"></i>
                </p>
            </div>
        </div>
        <div class=col-md-2>

        </div>
        <hr>
    </div>

    <div class="container" class="contact">


        <div id="Container">
            <div id="col">
                <div class="row">
                    <div class=col-md-1>

                    </div>
                    <div class="col-md-6 ft">
                        <div id="FooterMenu">

                            <div class="footer-text">
                                <h2>Certified</h2>
                            </div>



                            <img title="cetified" alt="cetified" src="assets\image\iso-22000-2005.png" height="250px" width="255px" />


                        </div>
                    </div>
                    <div class="col-md-2 ft">
                        <div id="FooterServices">

                            <div class="footer-text">
                                <h2>Corporate Info</h2>
                            </div>


                            <p><a href="#">About US</a></p>
                            <p><a href="#">Our Moral Reposibality</a></p>
                            <p><a href="#">Disclaimer</a></p>
                            <p><a href="#">Privacy Policy</a></p>
                            <p><a href="#">Term & Condition</a></p>
                            <P><a href="#"> Mongiland</a></P>
                            <P><a href="#"> Delicia Foods</a></P>

                        </div>
                    </div>
                    <div class="col-md-2 ft">
                        <div id="FooterServices">

                            <div class="footer-text">
                                <h2> </h2>
                            </div>

                            <p>
                                <a></a>
                            </p>
                            <p><a href="#" style="color: rgb(177, 149, 197);">Download E-Brochure</a></p>
                            <p><a href="#" style="color: rgb(177, 149, 197);">	CSR</a></p>
                            <p><a href="#" style="color: rgb(177, 149, 197);">	Recognition & Awards</a></p>
                            <p><a href="#" style="color: rgb(177, 149, 197);">	Contact Us</a></p>
                            <p><a href="#" style="color: rgb(177, 149, 197);">	Monginis Egypt</a></p>
                            <P><a href="#" style="color: rgb(177, 149, 197);"> Cake Studies</a></P>
                            <P><a href="#" style="color: rgb(177, 149, 197);"> Delicia Foods</a></P>

                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="conainer-fluid" style="background-color: rgb(31, 30, 30); color:blanchedalmond; padding:10px ;margin-top: 20px;">
            <div class="row">
                <h4 style="padding-left: 50px;">© 2017 Monginis. All Rights Reserved.</h4>
            </div>
        </div>
    </div>



</div>















<!-- <div class="container-main">
            <div class="main-content container">
                <div class="row show-grid">
                    <div class="col-lg-12">
                        <div class="col-main">
                            <div class="std">
                             
                            </div>
                            <div class="slider-block-wrapper" id="flexslider-aeaa0b28332c81e1dd28182706bcbe96">
                                <div class="slides row">
                                    <div class="slide col-lg-4  col-md-4  col-sm-4  col-xs-12  ">
                                        <div class="block-gallery mt-gallery first">
                                            <div class="mt-box box">
                                                <div class="mt-snipit">
                                                    <a title="About Us | Monginis" href="../about-us" target="_blank"> <img title="About Us" alt="About Us" src="https://www.monginis.net/media/wysiwyg/blocks/360X292-AboutUs.jpg" height="292" width="360" /> </a>
                                                    <div class="mt-info-page">
                                                        <div class="static-item">
                                                            <div class="icon-food"><span class="fa fa-cutlery">&nbsp;</span></div>
                                                            <h3><a title="Media Room Monginis" href="../about-us" target="_blank"><span class="value">Know More About Us</span></a></h3>
                                                            <h4><span class="value">See More&nbsp;</span></h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide col-lg-4  col-md-4  col-sm-4  col-xs-12  ">
                                        <div class="block-gallery mt-gallery">
                                            <div class="mt-box box">
                                                <div class="mt-snipit">
                                                    <a href="../monginis-menu/cakes.html"> <img title="Cakes &amp; Pastries" alt="Cakes &amp; Pastries" src="https://www.monginis.net/media/wysiwyg/blocks/360X292-CAKES_2.jpg" height="292" width="360" /> </a>
                                                    <div class="mt-info-page">
                                                        <div class="static-item">
                                                            <div class="icon-food"><span class="fa fa-cutlery">&nbsp;</span></div>
                                                            <h3><a title="Cakes &amp; Pastries" href="../monginis-menu/cakes.html" target="_blank"><span class="value">Designer Cakes &amp; Many More</span></a></h3>
                                                            <h4><span class="value">&nbsp;</span></h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide col-lg-4  col-md-4  col-sm-4  col-xs-12  ">
                                        <div class="block-gallery mt-gallery">
                                            <div class="mt-box box">
                                                <div class="mt-snipit"><img title="Packaged Products" alt="Packaged Products" src="https://www.monginis.net/media/wysiwyg/blocks/360X292-PP_2.jpg" height="292" width="360" />
                                                    <div class="mt-info-page">
                                                        <div class="static-item">
                                                            <div class="icon-food"><span class="fa fa-cutlery">&nbsp;</span></div>
                                                            <h3><a title="Locate your nearest cake shop" href="../monginis-menu/packaged-goodies.html" target="_blank"><span class="value">Packaged Products</span></a></h3>
                                                            <h4><span class="value">See More<br /></span></h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slider-block-wrapper" id="flexslider-cebef17accddf6c73392b9c44d16d121">
                                <div class="slides row">
                                    <div class="slide col-lg-4  col-md-4  col-sm-4  col-xs-12  ">
                                        <div class="block-gallery mt-gallery">
                                            <div class="mt-box box">
                                                <div class="mt-snipit">
                                                    <a title="Our Factories | Monginis" href="../meet-our-manufacturing-franchisees" target="_blank"> <img title="Our Factories" alt="Our Factories" src="https://www.monginis.net/media/wysiwyg/blocks/360X292-FC_2.jpg" height="292" width="360" /> </a>
                                                    <div class="mt-info-page">
                                                        <div class="static-item">
                                                            <div class="icon-food"><span class="fa fa-cutlery">&nbsp;</span></div>
                                                            <h3><a title="About Us | Monginis" href="../meet-our-manufacturing-franchisees" target="_blank"><span class="value">Our Factory presence in India &amp; their owners</span></a></h3>
                                                            <h4><a title="About Us | Monginis" href="../meet-our-manufacturing-franchisees" target="_blank"><span class="value">See More</span></a></h4>
                                                            <p>&nbsp;</p>
                                                            <h4><span class="value">&nbsp;</span></h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide col-lg-4  col-md-4  col-sm-4  col-xs-12  ">
                                        <div class="block-gallery mt-gallery">
                                            <div class="mt-box box">
                                                <div class="mt-snipit">
                                                    <a href="#"> <img title="Media Room | Press Releases | Monginis TVCs" alt="Media Room" src="https://www.monginis.net/media/wysiwyg/blocks/360X292-Media_4.jpg" height="292" width="360" /> </a>
                                                    <div class="mt-info-page">
                                                        <div class="static-item">
                                                            <div class="icon-food"><span class="fa fa-cutlery">&nbsp;</span></div>
                                                            <h3><a title="Media Room | Press Releases | Monginis TVCs" href="../media-room" target="_blank"><span class="value">Get updates of Monginis on Online &amp; Offline front</span></a></h3>
                                                            <h4><span class="value">&nbsp;</span></h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="slide col-lg-4  col-md-4  col-sm-4  col-xs-12  ">
                                        <div class="block-gallery mt-gallery last">
                                            <div class="mt-box box">
                                                <div class="mt-snipit">
                                                    <a href="#"> <img title="Locate your nearest Monginis Cake Shop" alt="Locate your nearest Monginis Cake Shop" src="https://www.monginis.net/media/wysiwyg/blocks/360X292-SL_2.jpg" height="292" width="360" /> </a>
                                                    <div class="mt-info-page">
                                                        <div class="static-item">
                                                            <div class="icon-food"><span class="fa fa-cutlery">&nbsp;</span></div>
                                                            <h3><a title="Locate your nearest cake shop" href="../storelocator" target="_blank"><span class="value">Locate your nearest Monginis Cake Shop</span></a></h3>
                                                            <h4><span class="value">See More<br /></span></h4>
                                                            <h4><span class="value">&nbsp;</span></h4>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> -->